definition_version: 2
entities:
  monthly_sales_dashboard:
    type: streamlit
    identifier:
      name: MONTHLY_SALES_DASHBOARD
      database: <YOUR_DATABASE>
      schema: <YOUR_SCHEMA>
    query_warehouse: <YOUR_WAREHOUSE>
    external_access_integrations:
      - PYPI_ACCESS_INTEGRATION
    main_file: streamlit_app_sis.py
    artifacts:
      - streamlit_app_sis.py
